@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-family: 'Manrope';
}

.container{
    display: flex;
    align-items: center;
}


.left-section {
    margin-left: 100px;
    margin-bottom: 150px;
  }

  .right-section {
    margin-left: 50px;
  }

  textarea {
    border: 1px solid #EBEBEB;
    background: #F3F3F3;
    color: #676767;
    width: 500px;
    height: 100px;
  }

.fraseAPI{
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
    background: #F3F3F3;
    color: #676767;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
}

input::placeholder{
    color: #676767;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
}

button{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
    width: 101px;
    height: 29px;
    top: 323px;
    left: 465.5px;
    background-color: #5055D4;
    color: #F3F3F3;

}

.tituloLivro{
    text-align: center;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 111.1%; /* 11.11px */
}

.boxLivros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.boxImage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 361px;
}

.boxImage > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#comment-form {
    display: flex;
    flex-direction: column;
}

#comment-form button {
    align-self: flex-end;
}

.comment-container {
    display: flex;
    justify-content: center;
    width: 60%;
    font-family: 'Manrope';
}

#comment-sinopse {
    margin-bottom: 20px;
}

.comment {
    display: flex;
    margin: 30px 0;
}

.comment-info {
    margin-right: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.subtitle {
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}