{% extends "layout.njk" %}

{% set title = "BooksAPI" %}

{% block content %}

    <div class="container">
        <div class="left-section">
            <a href="/">voltar a busca</a>

            {% if livro %}
                <div class="boxLivros">
                    <div class="boxConteudo">
                        <img src="{{ livro.volumeInfo.imageLinks.thumbnail }}" alt="">
                        <p class="tituloLivro">{{ livro.volumeInfo.title }}</p>
                    </div>
                </div>
            {% else %}
                <p>Nenhum livro disponível.</p>
            {% endif %}

        </div>
        <div class="right-section">
            <p>
                Sinopse do Livro:<br/> 
                {{livro.volumeInfo.description}}
            </p>
            <div class="comment-section">
                <form action="/api/addcomment" method="POST" id="comment-form">
                    <label for="text">Comentário:</label>
                    <textarea id="text" name="comment" required></textarea>
                    <input type="hidden" name="livroid" value={{ livro.livroId }}/>
                    <button type="submit">Comentar</button>
                </form>
            </div>
        </div>

        <div id="comments-container">
            {% for comment in comments %}
                <div class="comment">
                    <p>{{ comment.texto}}</p>
                </div>
            {% endfor %}
        </div>

        {# <script>
            function addComment() {
                var authorInput = document.getElementById('author');
                var textInput = document.getElementById('text');

                var author = authorInput.value;
                var text = textInput.value;

                if (author && text) {
                    var commentContainer = document.getElementById('comments-container');

                    // Adicione o novo comentário à lista
                    var newComment = document.createElement('div');
                    newComment.className = 'comment';
                    newComment.innerHTML = '<p>' + author + ' diz: ' + text + '</p>';

                    commentContainer.appendChild(newComment);

                    // Limpe os campos do formulário
                    authorInput.value = '';
                    textInput.value = '';
                } else {
                    alert('Por favor, preencha todos os campos.');
                }
            }
        </script> #}
    </div>
{% endblock %}
