{% extends "layout.njk" %}

{% set title = "BooksAPI" %}

{% block content %}

    <div class="container">
        <div class="left-section">
            <a href="/">voltar a busca</a>

            {% if telaConfig.livros %}
                <div class="boxLivros">
                    <div class="boxConteudo">
                        <img src="{{ telaConfig.livros[0].imagen }}" alt="">
                        <p class="tituloLivro">{{ telaConfig.livros[0].tituloLivro }}</p>
                    </div>
                </div>
            {% else %}
                <p>Nenhum livro disponível.</p>
            {% endif %}

        </div>
        <div class="right-section">
            <p>
                Sinopse do Livro:<br/> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor bibendum neque, a gravida elit facilisis nec.
            </p>
            <div class="comment-section">
                <form id="comment-form">
                    <label for="text">Comentário:</label>
                    <textarea id="text" name="text" required></textarea>
                    <button type="button" onclick="addComment()">Comentar</button>
                </form>
            </div>
        </div>

        <div id="comments-container">
            {% for comment in telaConfig.livros[0].comentarios %}
                <div class="comment">
                    <p>{{ comment.comentario}}</p>
                </div>
            {% endfor %}
        </div>

        <script>
            function addComment() {
                var authorInput = document.getElementById('author');
                var textInput = document.getElementById('text');

                var author = authorInput.value;
                var text = textInput.value;

                if (author && text) {
                    var commentContainer = document.getElementById('comments-container');

                    // Adicione o novo comentário à lista
                    var newComment = document.createElement('div');
                    newComment.className = 'comment';
                    newComment.innerHTML = '<p>' + author + ' diz: ' + text + '</p>';

                    commentContainer.appendChild(newComment);

                    // Limpe os campos do formulário
                    authorInput.value = '';
                    textInput.value = '';
                } else {
                    alert('Por favor, preencha todos os campos.');
                }
            }
        </script>
    </div>
{% endblock %}
