{% extends "layout.njk" %}

{% set title = "BooksAPI" %}
{% set header = "BooksAPI" %}

{% block content %}
    <input id="livroInput" class="inputLivros" type="text" placeholder="insira o nome do livro">

    <div class="boxLivros" id="livrosContainer">

    </div>

    <script>
        const inputLivro = document.getElementById('livroInput');
        const livrosContainer = document.getElementById('livrosContainer');

        inputLivro.addEventListener('input', async (event) => {
            const searchTerm = event.target.value;

            try {
                const response = await fetch(`/search`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                    },
                    body: JSON.stringify({ pesquisa: searchTerm }),
                });

                const data = await response.json();

                livrosContainer.innerHTML = '';

                if (data.books && Array.isArray(data.books)) {

                    data.books.forEach(livro => {
                        console.log(livro);
                        const livroDiv = document.createElement('div');
                        livroDiv.classList.add('boxConteudo');

                        const img = document.createElement('img');
                        img.src = livro.volumeInfo.imageLinks?.thumbnail || ''; 
                        img.alt = '';

                        const button = document.createElement('button');
                        button.classList.add('tituloLivro');
                        button.textContent = livro.volumeInfo.title;
                        button.type = 'submit';

                        const form = document.createElement('form');
                        form.action = "/api/comment/add"
                        form.method = "POST"

                        const input = document.createElement('input');
                        input.setAttribute('type', 'hidden');
                        input.setAttribute('name', 'livro');
                        input.setAttribute('value', JSON.stringify(livro));

                        form.appendChild(input)
                        form.appendChild(button)

                        livroDiv.appendChild(img);
                        livroDiv.appendChild(form);

                        livrosContainer.appendChild(livroDiv);
                    });
                } else {
                    console.error('A resposta da API não está no formato esperado:', data);
                }
            } catch (error) {
                console.error('Erro ao buscar livros:', error);
            }
        });

    </script>
{% endblock %}